<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        <label for="">Username</label>
        <input name=Username type="text">
        <label for="">Mobile</label>
        <input name=Mobile type="text">
        <label for="">Email</label>
        <input name=Email for="text">
        <label for="">Address</label>
        <input name=Address for="text">
        <label for="">Password</label>
        <input name=Password for="text">                 
        <button>submit</button>
    </form>
</body>
</html>