<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="">title</label>
        <input name=title type="text" value="{{ post[1] }}">
        <label for="">content</label>
        <textarea name="content" rows="10">{{ post[2] }}</textarea>
        <label for="">slug</label>
        <input name=slug for="text">
        <input value="{{post[4] }}" type="text" name="slug">
        <button>submit</button>
    </form>
</body>
</html>